@import '../../scss/main';

.header_main {
    .header_top_main {
        background-color: #121212;

        .header_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            padding: 15px 0;
            color: #FFF;

            .header_left {
                display: flex;
                gap: 30px;
            }

            .call {
                display: flex;
                gap: 10px;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 15px;
                }
                a:hover{
                    color: var(--hover-color);
                    transition: 0.3s ease-in-out;
                }
            }
        }

        .header_right {
            display: flex;
            gap: 20px;

            .social_media {
                display: flex;
                gap: 10px;
                padding-right: 20px;
                border-right: 1px solid rgba(255, 255, 255, 0.35);

                .fb {
                    padding: 8px;
                    background-color: #FFFFFF26;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;

                    img {
                        height: 14px;
                        box-sizing: border-box;
                    }
                }
            }

            .language {
                display: flex;
                align-items: center;
                gap: 10px;

                .language_text {
                    select {
                        background-color: transparent;
                        color: white;
                        border: none;
                        font-size: 14px;
                    }
                }
            }


            .login {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }


    .header_bottom {
        background-color: var(--background-color);

        .header_bottom_main {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header_bottom_right {
                display: flex;
                align-items: center;

                .nav_link {
                    display: flex;
                    gap: 45px;

                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 17px;
                    }
                    a:hover{
                        color: var(--hover-color);
                        transition: 0.3s ease-in-out;
                    }
                }

                .header_btn {
                    display: flex;
                    gap: 20px;
                    padding: 20px 0;
                    margin-left: 30px;

                    .search_btn {
                        padding: 15px 20px;
                        border-radius: 15px 0;
                        border: 1px solid var(--border-color);
                        display: flex;
                        justify-content: space-between;
                        color: var(--font-color);
                        align-items: center;

                        p {
                            display: block;
                            padding-right: 100px;
                        }
                    }

                    .book_btn {
                        button {
                            padding: 20px 30px;
                            border-radius: 15px 0;
                            background-color: var(--hover-color);
                            color: var(--font-color);
                            border: none;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

}