@import '../../scss/main';

.header_main {
    .header_top_main {
        background-color: var(--header-background-color);

        .header_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            padding: 15px 0;
            color: var(--font-color);

            .header_left {
                display: flex;
                gap: 30px;
            }

            .call {
                display: flex;
                gap: 10px;

                a {
                    text-decoration: none;
                    color: var(--font-color);
                    font-size: 15px;
                }

                a:hover {
                    color: var(--hover-color);
                    transition: 0.3s ease-in-out;
                }
            }
        }

        .header_right {
            display: flex;
            gap: 20px;

            .social_media {
                display: flex;
                gap: 10px;
                padding-right: 20px;
                border-right: 1px solid var(--header-border-color);

                .fb {
                    padding: 8px;
                    background-color: var(--light-gray-color);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    transition: transform 0.3s ease-in-out;
                    cursor: pointer;

                    img {
                        height: 14px;
                        box-sizing: border-box;
                    }

                    &:hover {
                        transform: translateY(-5px);
                        background-color: var(--hover-color);
                    }
                }
            }

            .language {
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;

                .language_text {
                    position: relative;

                    .languageBtn {
                        @include flex;
                        gap: 5px;

                        button {
                            background-color: transparent;
                            color: var(--font-color);
                            border: none;
                        }
                    }

                    .hiden {
                        background-color: var(--font-color);
                        display: none;
                        position: absolute;
                        top: 40px;
                        left: 0;
                        width: 100%;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                        z-index: 9;
                        width: 130px;

                        p {
                            color: var(--background-color);
                            padding: 6px 11px 0;
                            text-transform: capitalize;
                            cursor: pointer;

                            &:hover {
                                background-color: var(--light-blue);
                            }
                        }
                    }

                    &:focus-within .hiden {
                        display: block;
                    }
                }

            }





            .login {
                display: flex;
                align-items: center;
                gap: 10px;

                span:hover {
                    color: var(--hover-color);
                    transition: 0.3s ease-in-out;
                    cursor: pointer;
                }
            }
        }
    }


    .header_bottom {
        background-color: var(--navbar-bg);


        .header_bottom_main {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header_bottom_right {
                display: flex;
                align-items: center;

                .nav_link {
                    display: flex;
                    gap: 45px;

                    a {
                        text-decoration: none;
                        color: var(--font-color);
                        font-size: 17px;
                    }

                    a:hover {
                        color: var(--hover-color);
                        transition: 0.3s ease-in-out;
                    }
                }

                .header_btn {
                    display: flex;
                    gap: 20px;
                    padding: 20px 0;
                    margin-left: 30px;

                    .search_btn {
                        padding: 15px 20px;
                        border-radius: 15px 0;
                        border: 1px solid var(--border-color);
                        display: flex;
                        justify-content: space-between;
                        color: var(--font-color);
                        align-items: center;

                        p {
                            display: block;
                            padding-right: 100px;
                        }
                    }

                    .book_btn {
                        button {
                            padding: 20px 30px;
                            border-radius: 15px 0;
                            background-color: var(--hover-color);
                            color: var(--font-color);
                            border: none;
                            font-size: 16px;

                            &:hover {
                                background-color: var(--btn-hover);
                                transition: 0.3s ease-in-out;

                            }
                        }

                    }
                }
            }
        }
    }

}

.import {
    width: 100% !important;
}