@mixin header_top_a {
    font-size: 15px;
}

@mixin card_p {
    font-size: 16px;
}

@mixin font_family {
    font-family: "Readex Pro", sans-serif;
}

@mixin span {
    font-size: 15px;
}

@mixin sectionSpan {
    font-size: 14px;
    margin: 0 0 20px;
}

@mixin flex {
    display: flex;
}

@mixin h5 {
    text-transform: uppercase;
    font-size: 20px;
    color: var(--font-color);
    letter-spacing: 4px;
    padding-bottom: 20px;
    @include font_family;

    @media (max-width:768px) {
        font-size: 16px;
        letter-spacing: 4.5px;
        font-weight: 400;
    }
}

@mixin h2 {
    font-size: 60px;
    color: var(--font-color);
    max-width: 920px;
    margin: 0 auto;
    @media (max-width:768px) {
        font-size: 40px;
        line-height: 50px;
        max-width: 100%;
        min-width: 100%;
        font-weight: 700;
    }

    @media (max-width:576px) {
        font-size: 25px;
    }
}

@mixin sectionH2 {
    font-size: 40px;
    margin: 0 0 15px;
    @include font_family;
    font-weight: 600;
    line-height: 1.4;
}

@mixin sectionP {
    font-size: 16px;
    line-height: 1.8;
}

@mixin h3 {
    font-size: 18px;
    letter-spacing: 1.2px;
    margin-bottom: 8px;
}

@mixin h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}

@mixin mainsection {
    padding: 60px 0;
}

@mixin mainsection2 {
    padding: 0 0 60px;
}