@import '../../../scss/main';

.mainsection2 {
    @include mainsection2;

    .sectionTitle {
        @include sectionTitle;
    }

    .reviewMain {
        padding: 50px 0 0;

        .nextArrow {
            align-items: center;
            display: flex;
            height: 40px;
            justify-content: center;
            right: -5px;
            position: absolute;
            top: 45%;
            width: 40px;
            background-color: var(--hover-color);
            border-radius: 50%;

            img {
                height: auto;
            }
        }

        .previousArrow {
            align-items: center;
            display: flex;
            height: 40px;
            width: 40px;
            justify-content: center;
            left: -5px;
            position: absolute;
            top: 45%;
            background-color: var(--hover-color);
            border-radius: 50%;
            z-index: 1;

            img {
                height: auto;
            }
        }
    }
}

@media (max-width:768px) {
    .mainsection2 {
        .reviewMain {
            .slick-slide {
                padding: 0 10px;
            }

            .nextArrow {
                right: 0;
            }

            .previousArrow {
                left: 0;
            }

            
        }
    }
}

@media (max-width:576px) {
    .mainsection2 {
        padding: 0 0 30px;
        .reviewMain {
            .nextArrow {
                display: none;
            }

            .previousArrow {
                display: none;
            }
        }
    }
}