@import '../../../scss/main';

.mainsection {
    @include mainsection;
    @include sectionTitle;
}

.mainsection2 {
    @include mainsection2;
    @include sectionTitle;

    .slick-slide {
        padding: 0 20px;
    }

    .nextArrow {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        right: -5px;
        position: absolute;
        top: 53%;
        width: 40px;
        background-color: var(--hover-color);
        border-radius: 50%;

        img {
            width: auto;
        }
    }

    .previousArrow {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        left: -5px;
        position: absolute;
        top: 53%;
        width: 40px;
        background-color: var(--hover-color);
        border-radius: 50%;
        z-index: 1;

        img {
            width: auto;
        }
    }

    .slick-dots {
        bottom: -65px;

        li {
            padding: 0 15px;

            button {
                &::before {
                    background-color: var(--slider-dots);
                    opacity: 3;
                    content: "";
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                }
            }
        }

        .slick-active {
            button {
                &::before {
                    width: 15px;
                    height: 15px;
                    background-color: var(--hover-color);
                    border-radius: 50%;
                    content: "";
                    opacity: 3;
                }
            }
        }
    }
}

.roomcards {
    @include gridThree;
}

@media (max-width:768px) {

    .mainsection2 {
        .nextArrow {
            height: 35px;
            width: 35px;
            right: 0;
        }

        .previousArrow {
            height: 35px;
            width: 35px;
            left: 0;
        }

        .slick-dots {
            display: none !important;
        }

        .slick-slide {
            padding: 0;
        }

        .roomCard {
            padding: 0 10px;

            .roomCardDetails {
                padding: 24px;
            }
        }
    }
}

@media (max-width:576px) {
    .mainsection2 {
        .nextArrow {
            display: none;
        }

        .previousArrow {
            display: none;
        }
    }
}