@import '../../../scss/main';

.mainsection {
    @include mainsection;
    @include sectionTitle;
}

.mainsection2 {
    @include mainsection2;
    @include sectionTitle;

    .slick-slide {
        padding: 0 20px;
    }

    .nextArrow {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        right: -5px;
        position: absolute;
        top: 53%;
        width: 40px;
        background-color: var(--hover-color);
        border-radius: 50%;

        img {
            width: auto;
        }
    }

    .previousArrow {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        left: -5px;
        position: absolute;
        top: 53%;
        width: 40px;
        background-color: var(--hover-color);
        border-radius: 50%;
        z-index: 1;

        img {
            width: auto;
        }
    }

    .slick-dots {
        bottom: -65px;

        li {
            padding: 0 15px;

            button {
                &::before {
                    background-color: var(--slider-dots);
                    opacity: 3;
                    content: "";
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                }
            }
        }

        .slick-active {
            button {
                &::before {
                    width: 15px;
                    height: 15px;
                    background-color: var(--hover-color);
                    border-radius: 50%;
                    content: "";
                    opacity: 3;
                }
            }
        }
    }

    .roomCard {
        margin: 40px 0 0;
        border-radius: 40px;

        .roomcardImg {
            max-height: 285px;

            img {
                border-radius: 5px 5px 0 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .roomCardDetails {
            position: relative;
            padding: 35px 24px 24px;
            background-color: var(--background-color-main);
            border-radius: 0 0 5px 5px;

            .roomPrice {
                background-color: var(--hover-color);
                padding: 4px 16px;
                position: absolute;
                top: -13px;
                left: 24px;
                border-radius: 4px;
            }

            .roomTitleRating {
                @include justifyBetween;
                margin: 0 0 16px;

                .roomTitle {
                    h5 {
                        @include h5;
                    }
                }

                .roomRating {
                    @include flex;
                    gap: 3px;
                }
            }

            .roomFacility {
                @include flex;
                align-items: center;
                margin: 0 0 16px;

                .roomFacilityItem {
                    @include flex;
                    align-items: center;
                    gap: 8px;
                    padding: 0 16px 0 0;
                    margin: 0 16px 0 0;
                    border-right: 1px solid var(--border);

                    img {
                        width: auto;
                    }

                    span {
                        text-transform: capitalize;
                    }
                }

                .roomFacilityItem1 {
                    @include flex;
                    align-items: center;
                    gap: 8px;
                    padding: 0 16px 0 0;
                    margin: 0 16px 0 0;
                }
            }

            .roomDescription {
                margin: 0 0 16px;

                p {
                    @include sectionP;
                }
            }

            .roomBtn {
                @include justifyBetween;

                .viewDetails {
                    @include viewDetails;
                }

                .BookNow {
                    @include bookNow;
                }
            }
        }
    }
}