:root {
    --background-color-main: #222222;
    --font-color: #FFF;
    --hover-color: #AD58EB;
    --light-blue: #e9ecef;
    --background-color: black;
    --border-color: rgba(255, 255, 255, 0.2);
    --slider-opacity: 0.4;
    --slider-background: #0b1c39;
    --header-background-color: #121212;
    --header-border-color: rgba(255, 255, 255, 0.35);
    --light-gray-color: #ffffff26;
    --navbar-bg: #191919;
    --btn-hover: #121212;
}