:root {
    --background-color-main: #222222;
    --font-color: #fff;
    --hover-color: #ad58eb;
    --light-blue: #e9ecef;
    --light-gray:#222222;
    --background-color: #121212;
    --border-color: rgba(255, 255, 255, 0.2);
    --slider-opacity: 0.5;
    --slider-background: #0b1c39;
    --header-background-color: #121212;
    --header-border-color: rgba(255, 255, 255, 0.35);
    --footer-border-color: rgba(255, 255, 255, 0.15);
    --light-gray-color: #ffffff26;
    --navbar-bg: #191919;
    --btn-hover: #121212;
    --card-bg: #666666;
    --border: #dee2e6;
    --slider-dots: rgba(255, 255, 255, 0.3);
    --dropdown-color: #e9ecef;
    --review-card-background: #FFF5DC;
    --yellow-color: #e9e91c;
}