:root {
    --background-color-main: #222222;
    --font-color: #FFF;
    --hover-color: #AD58EB;
    --background-color: black;
    --border-color: rgba(255, 255, 255, 0.2);
    --slider-opacity: 0.4;
    --slider-background: #0b1c39;
}