@import '../../scss/main';

.slick-list {
    margin: -4px 0;
}

.left {
    :hover {
        background-color: var(--hover-color);
        transition: 0.3s ease-in-out;
    }

    img {
        border: 2px solid white;
        padding: 15px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 4%;
        background-color: transparent;
        z-index: 1;

    }
}

.right_arrow {

    :hover {
        background-color: var(--hover-color);
        transition: 0.3s ease-in-out;
    }

    img {
        border: 2px solid white;
        padding: 15px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 4%;
        background-color: transparent;
        z-index: 1;
    }
}

.Slider {
    overflow: hidden;

    .slider_main {
        position: relative;

        .slider_image {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--slider-background);
                opacity: var(--slider-opacity);
            }

            img {
                height: 600px;
                width: 100%;
                object-fit: cover;
            }

        }

        .slider_text {
            position: absolute;
            top: 30%;
            left: 20%;
            text-align: center;
            margin: 0;

            h5 {
                text-transform: uppercase;
                font-size: 20px;
                color: var(--font-color);
                letter-spacing: 4px;
                padding-bottom: 20px;
                @include font_family;
            }

            h2 {
                font-size: 60px;
                color: var(--font-color);
                max-width: 920px;
            }

            button {
                margin-top: 20px;
                background-color: transparent;
                padding: 20px 50px;
                color: var(--font-color);
                font-size: 16px;
                border: 2px solid var(--font-color);
                font-weight: 600;
                border-radius: 30px;

                &:hover {
                    background-color: var(--hover-color);
                    transition: 0.3s ease-in-out;
                    border: 2px solid var(--hover-color);
                }
            }
        }
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slick-slide.slick-active .slider_text {
    animation: fadeInLeft 0.5s ease-in-out;
}