.herobanner_main {
    position: relative;
    margin: 0;
    padding: 0;
}

.availablity_main {
    position: relative;
    margin-top: -60px !important;
    z-index: 3;

    .availability_box {
        display: flex;
        background-color: var(--background-color-main);
        gap: 30px;
        padding: 30px;

        .check_in {
            width: 22%;
            height: 100%;

            input {
                border: 1px solid var(--border-color);
                background-color: transparent;
                padding: 17px 30px;
                color: white;
                font-weight: 600;
                font-size: 14px;

                &:focus {
                    border: 1px solid var(--hover-color);
                    outline: none;
                }
            }
        }

        .adult {
            width: 15%;
            height: auto;

            .adult_select {
                background-image: url(../../../assets/icon/select-icon-black.png);
                background-color: transparent;
                border: 1px solid var(--border-color);
                color: var(--font-color);
                background-position: 100%;
                background-repeat: no-repeat;
                padding: 15px 20px;
                width: 100%;
                border-radius: 0;
                height: 100%;

                option {
                    color: var(--font-color);
                    background-color: var(--background-color-main);
                }

                &:focus {
                    transition: 0.1s ease-in-out;
                    border: 1px solid var(--hover-color);
                    outline: none;
                }
            }
        }

        .availablity_btn {
            width: 16%;

            button {
                padding: 17px 30px;
                font-size: 16px;
                background-color: var(--hover-color);
                color: white;
                border: none;
                width: 100%;

                &:hover {
                    background-color: var(--btn-hover);
                    transition: all 0.7s ease-in-out;
                }
            }
        }
    }
}