.herobanner_main {
    position: relative;
    margin: 0;
    padding: 0;
}

.availablity_main {
    position: relative;
    margin-top: -60px !important;
    z-index: 3;

    .availability_box {
        display: flex;
        background-color: var(--background-color-main);
        padding: 30px 20px;
        flex-wrap: wrap;

        .check_in {
            width: 20.50%;
            height: 100%;
            flex: 0 0 auto;
            padding: 0 20px;

            input {
                border: 1px solid var(--border-color);
                background-color: transparent;
                padding: 15px 20px;
                color: white;
                font-weight: 600;
                font-size: 14px;
                width: 100%;

                &:focus {
                    border: 1px solid var(--hover-color);
                    outline: none;
                    transition: all 0.7s ease-in-out;
                }
            }
        }

        .adult {
            width: 14%;
            height: auto;
            padding: 0 20px;
            flex: 0 0 auto;

            .adult_select {
                background-image: url(../../../assets/icon/select-icon-black.png);
                background-color: transparent;
                border: 1px solid var(--border-color);
                color: var(--font-color);
                background-position: 100%;
                background-repeat: no-repeat;
                padding: 15px 20px;
                width: 100%;
                border-radius: 0;
                height: 100%;

                option {
                    color: var(--font-color);
                    background-color: var(--background-color-main);
                }

                &:focus {
                    transition: 0.1s ease-in-out;
                    border: 1px solid var(--hover-color);
                    outline: none;
                }
            }
        }

        .availablity_btn {
            width: 16.66%;
            flex: 0 0 auto;

            button {
                padding: 17px 30px;
                font-size: 16px;
                background-color: var(--hover-color);
                color: white;
                border: none;
                width: 100%;

                &:hover {
                    background-color: var(--btn-hover);
                    transition: all 0.7s ease-in-out;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .availablity_main {
        padding: 0 30px;
        .availability_box {
            gap: 20px;

            .check_in {
                width: 40%;
            }

            .adult {
                width: 26%;
            }

            .availablity_btn {
                padding: 0 20px;
                width: 24%;
            }
        }
    }
}

@media (max-width:576px) {
    .availablity_main {
        .availability_box {
            gap: 10px;

            .check_in {
                width: 100%;

                input {
                    width: 100%;
                }
            }

            .adult {
                width: 100%;
            }

            .availablity_btn {
                width: 100%;
            }
        }
    }
}